@import url("https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Georgia", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sanddollar {
  background-color: #e5ddc8;
}

.teal {
  background-color: #01949a;
}

.navyblue {
  background-color: #004369;
}

.red {
  background-color:#DB1F48;
}

button {
  /* background-color: white; */
  border-radius: 7px !important;
}

a {
  text-decoration: none !important;
  color: black;
}

.oldFont {
  font-family: "Monsieur La Doulaise", cursive;
  text-decoration: none;
  color: black;
}

.mainHeader {
  text-decoration: none;
  color: black;
}

.pageLinks {
  text-decoration: none;
  color: black;
}

.pageLinks:hover {
  text-decoration: none;
  color: black;
  background-color: red;
}

main {
  font-family: "Georgia", serif;
}
