@import url("https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Georgia", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: white;
  border-radius: 7px !important;
}

a {
  text-decoration: none !important;
  color: black;
}

.oldFont {
  font-family: "Monsieur La Doulaise", cursive;
  text-decoration: none;
  color: black;
}

.mainHeader {
  text-decoration: none;
  color: black;
}

.pageLinks {
  text-decoration: none;
  color: black;
}

.pageLinks:hover {
  text-decoration: none;
  color: black;
  background-color: yellowgreen;
}

main {
  font-family: "Georgia", serif;
}
